:root {
  --bs-accordion-bg: rgba(255, 255, 255, 0);
}

body {
  background-color: #303033;
}
img {
  width: 100%;
}

.logo {
  max-width: 45px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}
button {
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: orangered;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.form-inline {
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.food-card {
  transition: all 0.3s ease-in-out;
}
.food-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10px);
}

/* ----------------media queries----------------- */

@media (max-width: 768px) {
  .countries-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .countries-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-inline {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
@media (max-width: 380px) {
  .navbar-expand-lg {
    justify-content: center;
  }
  .form-inline {
    width: 100%;
  }
}

/* ------------food details page------------- */
#detail-container {
  padding: 50px 0;
}
.food-image-container {
  padding-right: 30px;
}
.food-image-container img {
  width: 100%;
  border-radius: 10px;
}

.food-details-container {
  padding-left: 30px;
  color: white;
}
.food-name h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
.food-name h6 {
  font-weight: 300;
  margin-bottom: 10px;
}
.food-name,
.ingredients {
  border-bottom: 1px solid rgba(196, 196, 196, 0.37);
  margin-bottom: 20px;
}
.process {
  margin-bottom: 20px;
}

.accordion-item {
  background: rgba(0, 0, 0, 0);
  color: white;
}
.accordion-button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}
.accordion-button:hover {
  background-color: #198754;
  color: white;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #198754;
  box-shadow: none;
}

/* -------------media--------------- */

@media (max-width: 768px) {
  #food-title {
    margin-bottom: 0 !important;
  }
  #detail-container {
    padding: 30px 0;
  }
  .food-image-container {
    padding: 0 20px;
    padding-bottom: 20px;
  }
  .food-image-container img {
    width: 100%;
    border-radius: 10px;
  }

  .food-details-container {
    padding: 0 30px;
    color: white;
  }
  .food-name h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .food-name h6 {
    font-weight: 300;
    margin-bottom: 10px;
  }
}
