@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

body {
  background-color: #2e2e34;
}
img {
  width: 100%;
}

.logo {
  max-width: 45px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}
button {
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: orangered;
}
.country-detail-container {
  width: 800px;
  background-color: #120f0f;
  color: rgb(250, 244, 233);
  padding: 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.name {
  margin-top: -30px;
}
#close-btn {
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  left: 420px;
  top: -50px;
  line-height: 30px;
}

.countries-container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.country-card {
  border: 1px solid #bdb8b867;
  background-color: #4141417e;
  padding: 20px 20px;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #f2f2f2;
}
.flag {
  max-width: 150px;
}
.flag img {
  border-radius: 10px;
}
.country-name {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.capital {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin-bottom: 15px;
}
.explore-btn {
  padding: 2px 15px !important;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.form-inline {
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .countries-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .countries-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-inline {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
@media (max-width:380px) {
    .navbar-expand-lg {
        justify-content: center;
      }
      .form-inline {
        width: 100%;
      }
}
